
#tooltip_pane {

    -fx-background: rgba(30,30,30);
    -fx-text-fill: white;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;

-fx-alignment: center-left;
-fx-opacity: 90%;
}

#tooltip_title {
-fx-font-size: 1.2em;
-fx-font-weight: bold;
}

/*R G U S A T*/